.homeContainer {
  display: flex;
  justify-content: center;
  background-color: #f8f4f4;
  padding: 20px;
}

.enlacePersonalizado {
  color: #f27781;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

h1 , h2 , h3 , h4 , h5 , h6{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
}
/*background: #fff url(/ProyectoIndividual-PI-Food/PI-Food-main/client/src/asset/img.jpeg) center center/cover no-repeat; */

